DATABASE_URL=
JWT_SECRET=
FRONTEND_URL=http://localhost:3001
PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_MOBILE_BASE_URL=http://localhost:3001
INTERNAL_API_URL=http://localhost:3000/api/v1
